@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400,700);

body {
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  line-height: 1.42em;
  color: #a7a1ae;
  background-color: #1f2739;
}
.d-none {
  display: none;
}
.container {
  width: 90%;
  margin: auto;
}
.header_btn {
  display: flex;
  margin: 12px 32px;
  text-transform: uppercase;
  cursor: pointer;
  border: 1px solid #2c3446;
  padding: 12px 40px;
  border-radius: 8px;
  color: #a7a1ae;
  transition: all 0.3s;
  background-color: #2c3446;
}
.active,
.header_btn:hover {
  background: #464a52;
  color: #a7a1ae;
}
.title_bar_btns {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}
.buttons a {
  text-decoration: none;
}

/* Table */

h1 {
  font-size: 0.5em;
  font-weight: 300;
  line-height: 1em;
  text-align: center;
  color: #4dc3fa;
}

h2 {
  font-size: 0.5em;
  font-weight: 300;
  text-align: center;
  display: block;
  line-height: 1em;
  padding-bottom: 2em;
  color: #fb667a;
}

h2 a {
  font-weight: 700;
  text-transform: uppercase;
  color: #fb667a;
  text-decoration: none;
}

.blue {
  color: #185875;
}
.yellow {
  color: #fff842;
}

.container th h1 {
  font-weight: bold;
  font-size: 1em;
  text-align: left;
  color: #185875;
}

.container td {
  font-weight: normal;
  font-size: 1em;
  -webkit-box-shadow: 0 2px 2px -2px #0e1119;
  -moz-box-shadow: 0 2px 2px -2px #0e1119;
  box-shadow: 0 2px 2px -2px #0e1119;
}

.containerTable {
  text-align: left;
  overflow: hidden;
  width: 100%;
  margin: 0 auto;
  display: table;
  padding: 0 0 0 0;
}

.container td,
.container th {
  padding-bottom: 2%;
  padding-top: 2%;
  padding-left: 1%;
  min-width: 50px;
}

.container tr:nth-child(odd) {
  background-color: #323c50;
}

.container tr:nth-child(even) {
  background-color: #2c3446;
}

.container th {
  background-color: #1f2739;
}

.container td:first-child {
  color: #fb667a;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 120px !important;
}

.container tr:hover {
  background-color: #464a52;
  -webkit-box-shadow: 0 6px 6px -6px #0e1119;
  -moz-box-shadow: 0 6px 6px -6px #0e1119;
  box-shadow: 0 6px 6px -6px #0e1119;
}

/* Pagination */

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  max-width: 740px !important;
  overflow: hidden;
  margin: 40px auto !important;
  list-style: none;
}
.pagination__item {
  padding: 8px 16px;
  border-radius: 4px;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 8px;
  height: 20px;
  width: 20px;
  color: #1f2739;
}
.pagination__item_active,
.pagination__item:hover {
  background-color: #185875;
  color: #fff;
}
.pagination__item + .pagination__item {
  margin-left: 8px;
}
.c-pointer {
  cursor: pointer;
}
.search_bar {
  background: #1f2739;
  border-radius: 8px;
  width: 40%;
  font-size: 17px;
  padding: 15px 16px;
  border: 1px solid #cccccc;
  outline: none;
  color: #cccccc;
}
.search_bar_conatiner {
  width: 50%;
  display: flex;
  justify-content: space-between;
  margin: 40px 20px 0 0;
}
